.container {
    width: 60dvw;
    margin-left: 10px;
   
    
    
}

img{
padding: 1em;
}

.container .resumen {
    margin-top: -160dvh;
    width: 25dvw;
    margin-left: 70dvw;

}

header {
    text-align: center;
    font-size: 2.5em;

}